@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Montserrat+Alternates:wght@200;300;400;500;600;700&family=Roboto:wght@300;400;700&display=swap');

.image {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    margin-top: -25px;
    margin-bottom: -5px;  
}

.link{
    font-size: 50px;
    font-family: 'Irish Grover', cursive;
}