@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Montserrat+Alternates:wght@200;300;400;500;600;700&family=Roboto:wght@300;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Montserrat+Alternates:wght@200;300;400;500;600;700&family=Roboto:wght@300;400;700&family=Source+Code+Pro:wght@400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
  background-color: #6F48C9;
}


h1{
  background-color: #04D361;
  color: black;
  padding: 20px;
  margin-bottom: 25px;
  font-family: 'Irish Grover', cursive;
  font-size: 50px;
  text-align: center;
}

p { 
 font-size: 25px;
 font-family: 'Source Code Pro', monospace;
 font-weight:400px;
 text-align: center;
}

a {
  text-decoration: none;
  font-family: 'Source Code Pro', monospace;
  font-weight:500px;
  font-size: 15px;
  color: black;
  text-align: center;
  padding-left: 50px;
}


button {
  height: 50px;
  width: 300px;
  margin-left: 250px;
  position: relative;
  top: -100%;
  left: 40%;
  text-align: center;
  font-family: 'Irish Grover', cursive;
  border: none;
  border-radius: 5px;
  font-size: 25px;
  font-weight: bolder;
  background-color: orange;
  color: blue;
 cursor: pointer;
}

button:hover{
  background-color: #04D361;
  color: black;
  transition: all 0.10s ease-in;
}





