@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Montserrat+Alternates:wght@200;300;400;500;600;700&family=Roboto:wght@300;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Montserrat+Alternates:wght@200;300;400;500;600;700&family=Roboto:wght@300;400;700&family=Source+Code+Pro:wght@400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
  background-color: #6F48C9;
}

.container{
  width: 80%;
  margin: auto;
}

.loading {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


h1{
  color: black;
  font-family: 'Irish Grover', cursive;
  font-size: 50px;
  text-align: center;
}

p { 
 font-size: 25px;
 font-family: 'Source Code Pro', monospace;
 font-weight:400px;
 text-align: center;
}


button {
  height: 50px;
  width: 200px;
  margin-left: 250px;
  font-family: 'Irish Grover', cursive;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  background-color: #04D361;
  color: black;
  cursor: pointer;

  &:hover{
    background-color: black;
    color: #04D361;
    transition: all 0.6s ease-in;
  }
  
}






